.student-table-container {
    width: 100%;
    height: 100%;
    margin-top: 80px;
    padding: 5px;
}

.student-table-container .student-table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.student-table-container .student-table th, td {
    text-align: left;
    padding: 8px;
}

.student-table-container .student-table tr:nth-child(odd) {
    background-color: #5196d6
}

.student-table-container .student-table tr:nth-child(even) {
    background-color: #f2f2f2
}